.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255 255 255 / 15%);
}

.logo{
    font-size: 1.5rem;
}

.navList{
    display: flex;
    gap: 1rem;
}

.navList li{}
.navList li a{
    color: #fff;
}

.settings{
    margin-left: auto;
}